

@font-face {
  font-family: 'SEGA';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('fonts/SEGA.woff') format('woff');
}

@font-face {
  font-family: 'Press Start';
  font-style: normal;
  font-weight: normal;
  src: local('Press Start 2P'), url('fonts/PressStart2P-Regular.ttf') format('truetype');
}

@font-face {
  font-family: '8bit Mage';
  font-style: normal;
  font-weight: normal;
  src: local('DiaryOfAn8BitMage'), url('fonts/DiaryOfAn8BitMage-lYDD.ttf') format('truetype');
}

@font-face {
  font-family: 'Mario Bros NES';
  font-style: normal;
  font-weight: normal;
  src: local('super-mario-bros-nes'), url('fonts/super-mario-bros-nes.ttf') format('truetype');
}

:root {
  font-family: 'Press Start', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --clr-txt-red: #fc0808;
  --clr-drk-blue: #213547;
  --clr-white: #e3e3e3;
  --clr-black: black;

  --header-height: 100px;
  --footer-height: 100px;
}

/* estilos para etiquetas en general */

main{
  padding: 5vw;
}

header{
  padding-top: 5px;
  padding-bottom: 5px;
  height: var(--header-height);
}

a{
  text-decoration: none;
  color: inherit;
}

footer{
  height: var(--footer-height);
  font-size: 10px;
}

  /*font-family: Raleway , system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/

/* estilos relacionados con los display */

.hidden{
  display: none !important;
}

.sticky{
  position: sticky;
}

.fixed{
  position: fixed;
}

.relative{
  position: relative;
}

.absolute{
  position:absolute;
}

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.align-even{
  align-items: space-evenly;
}

.align-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.align-end{
  align-items: flex-end;
}

.inline-block{
  display: inline-block;
}

.top-left-0{
  top:0;
  left: 0;
}

.height-10{
  height: 10%;
}

.height-30{
  height: 30%;
}

.height-40{
  height: 40%;
}

.height-25{
  height: 25%;
}

.max-height{
  max-height: 100%;
  width: auto;
}

.max-width{
  max-width: 100%;
  height: auto;
}

.flex-wrap{
  flex-wrap: wrap;
}
/* paddings y margins */

.padding-1{
  padding: 20px
}

.padding-2{
  padding: 5px;
}

.padding-li-nav{
  padding-left: 10px;
  padding-right: 10px;
}

.padding-login-nav{
  margin: 15px;
}

.lr-no-padding{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* estilos relacionados con las listas y los nav */
.ls-none{
  list-style: none;
  padding-left: 0;
}

/* estilos relacionados con los bordes */
.brdr-rd{
  border-radius: 0.5em;
}

.brdr-rd-small{
  border-radius: 0.2em;
}

.brdr-red{
  border-color: var(--clr-txt-red);
}

.border{
  border-style: solid;
}

.brdr-red-black{
  border: 2px solid var(--clr-black);
  box-shadow: 0 0 0 2.5px var(--clr-txt-red);
}

.overflow-hidden{
  overflow: hidden;
}

.brdr-black-blue {
  border-top: 20px solid #001317;
  border-bottom: 20px solid #001317;
}

.brdr-blue-lr{
  border-left: 15px solid #005464;
  border-right: 15px solid #005464;
}

.brder-lr-grey{
  border-left: 3px solid grey;
  border-right: 3px solid grey;
}

/* estilos que se añaden con javascript */

.panel_img_extended{
  background-color: var(--clr-white);
  color: var(--clr-black);
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas con ancho flexible */
  grid-template-rows: 1fr 1fr; 
  gap: 10px; /* Espacio entre los elementos */
  background-color: green;
}

.prueba-3{
  grid-column: 1; /* Ocupa la primera columna */
  grid-row: 1; /* Ocupa la primera fila */
  background-color: aqua;
  max-width: 100%;
}

.prueba{
  grid-column: 1; 
  grid-row: 2; /* Ocupa las filas 1 y 2 */
  background-color: blue;
}

.prueba-2{
  grid-column: 2; /* Ocupa la segunda columna */
  grid-row: 1; /* Ocupa la primera fila */
  background-color: rebeccapurple;
}

/* estilos relacionados con el texto */

.red-text{
  color: var(--clr-txt-red);
}

.sega-font{
  font-family: 'SEGA', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.text-center{
  text-align: center;
}

.letter-spacing-1{
  letter-spacing: 0.2em;
}

.letter-spacing-2{
  letter-spacing: 0.1em;
}

.text-big-1{
  font-size: 1.2em;
}

.nav-text-size{
  font-size: 0.75em;
}

.mage-font{
  font-family: '8bit Mage', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* colores de fondo */

.dark-blue-bg{
  background-color: var(--clr-drk-blue);
}

.white-bg{
  background-color: var(--clr-white);
}

.light-blue-bg{
  background-color: #0095b1;
}

/* estilos específicos */

.pointer:hover{
  cursor: pointer;
}

.h2-carr{
  position: relative;
  height: 400px;
}

.h2-carr h2{
  z-index: 1;
  font-size: 4em;
}

.h2-carr::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%; 
  height: 100%;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); 
  z-index: -1;
  border-radius: 0.5em;
}


.carr-img{
  height: 100%;
  width: 100%;
  top:0;
  left: 0;
  position: absolute;
  z-index: -2;
  background-size: cover;
  background-position: center;
  background-image: url(/arcades_galeria/1.webp);
  filter: blur(1px); 
  mix-blend-mode:normal;
  transition: opacity 0.5s; 
}

.gradient-up{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); 
  height: calc(100% - 5px);
  width: calc(100%-5px);
  z-index: 3;
  opacity: 0;
  top: 200px;
  transition: all 0.3s ease-in-out;
  top: 5px;
  right:5px;
  left: 5px;
  bottom: 5px;
}

.animacion-div {
  transition: width 0.5s, height 0.5s; /* Duración de la animación: 0.5 segundos */
}

.hover-img-gradient:hover .gradient-up{
  top: 0;
  opacity: 1;
}

.hover-img-gradient{
  background-color: #00000000;
  transition: width 0.5s ease, height 0.5s ease;
}

.padding-margin-provisionales{
  padding: 5px;
  margin: 10px;
}

.hover-img-gradient::before{
  content: "";
  position: absolute;
  background-color: var(--clr-txt-red);
  height: 0%;
  width: 0%;
  top: 0;
  right: 0;
  z-index: -1;
}

.hover-img-gradient:hover::before{
  transform-origin: right;
  animation: reveal-gradient 0.2s ease-in-out forwards;
}

.hover-img-gradient:not(:hover)::before{
  animation: reveal-gradient-reverse 0.2s ease-in-out;
}

.hover-img-gradient:hover .boing-anim{
  animation: floating-animation 0.8s ease-in-out infinite alternate;
}

.coin-anim{
  bottom: -50px;
  left: 10px;
  z-index:5;
}

.hover-img-gradient:hover .coin-anim{
  animation: coin-animation 0.6s ease-in;
}

.height-width-transition{
  transition: width 0.5s ease, height 0.5s ease !important;
}

.boing-anim-perma{
  animation: floating-animation 0.8s ease-in-out infinite alternate; 
}

.car-bg{
  background-image: url(background-car.gif);
  background-size: cover;
}

.pacman-gif{
  height: 15px;
  width: auto;
}

.ghost-gif{
  height: 15px;
  width: auto;
}

.header-img{
  height: 45px;
  width: auto;
}

.bolita{
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color:black;
  margin:1px;
}

.nav-logo-wrapper{
  height: 55px;
  width: 225px;
}

.header-pacman-wrapper{

}

.logo-1{
  height: 60%;
  font-size: 20px;
}

.red-hover:hover{
  color: var(--clr-txt-red);
}

.mario-link{
  bottom: -100px;
  height: 20px;
  width: auto;
}

.dk-underline-perm{
  background-image: url(dk_underline.png);
  background-repeat: repeat-x;
  background-position: bottom left;
  background-size: auto 6px; 
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.dk-underline{
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.dk-underline:hover{
  background-image: url(dk_underline.png);
  background-repeat: repeat-x;
  background-position: bottom left;
  background-size: auto 6px; 
}

.brick-wrapper:hover .brick-bounce{
  animation: 0.5s bounce;
}

.brick-wrapper:hover .mario-link{
  animation: 0.5s jump;
}

.coin-nav{
  left: 4px;
  top:-3px;
  opacity: 0;
}

.brick-wrapper:hover .coin-nav{
  animation: 0.5s coin-nav-anim 0.3s;
}

.bg-adultos{
  background-image: url(tarifas/adultos/1.webp);
  background-size: cover;
}

.bg-infantil{
  background-image: url(tarifas/infantil/1.webp);
  background-size: cover;
}

#coin-counter-wrapper{
  top: var(--header-height);
  font-family: 'Mario Bros NES', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.counter-coin.animate{
  animation: 0.7s coin-counter-anim;
} 

.arcade-dim{
  height: 700px;
  width: 314px;
}

.container-provisional{
  background-color: #615d5d;
  display: flex;
}


.container-provisional-dim{
  height: 100px;
  width: 500px;
}

.container-provisional-dim-2{
  width: 90%;
  height: 60vh;
}

.size-provisional{
  height: 30px;
  width: 40px;
}

.sld-wrp {
  width: 400px;
  margin: 0 auto;
}

.slider-for {
  width: 400px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.slide-container {
  height: 400px;
  width: 100%;
}

.slide-cointainer-img{
  max-height: 100% !important;
  width: auto !important;
}

.slide-btn {
  box-sizing: border-box;
  cursor: pointer;
}

.slide-btn:hover {
  background-color: rgb(255, 179, 0);
}

/* estilos de las arcades de tarifas */

#joystick{
  top: -25px;
  left: 33px;
}

@keyframes coin-counter-anim{
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(-4px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(-1.5px);
  }
  100%{
    transform: translateY(0px);
  }
}

@keyframes coin-nav-anim{
  0%{
    opacity: 1;
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0px);
  }
  110%{
    opacity: 0;
  }
}

@keyframes jump{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-92px);
  }
  100%{
    transform: translateY(0px);
  }
}

@keyframes bounce{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-5px);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes coin-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes floating-animation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes reveal-gradient-reverse {
  0% {
    height: 100%;
    width: 100%;
  }
  25% {
    height: 75%;
    width: 75%;
  }
  50% {
    width: 50%;
    height: 50%;
  }
  75% {
    width: 25%;
    height: 25%;
  }
  100% {
    width: 0;
    height: 0;
  }
}

@keyframes reveal-gradient {
  0% {
    width: 0;
    height: 0;
  }
  25% {
    width: 25%;
    height: 25%;
  }
  50% {
    width: 50%;
    height: 50%;
  }
  75% {
    height: 75%;
    width: 75%;
  }
  100% {
    height: 100%;
    width: 100%;
  }
}

@media (prefers-color-scheme: light) { /* hay que arreglar el color del nav para modo light */
  :root {
    color: #213547;
    background-color: var(--clr-white);
  }
  .h2-carr::before {
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); 
  }
}
